{% block recaptcha_widget %}
    {% spaceless %}
        <script type="text/javascript">
            var loadJSScript = function (url) {
                var head = document.getElementsByTagName('head')[0];
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.async = true;
                script.defer = true;
                script.src = url;
                head.appendChild(script);
            }
            if (typeof grecaptcha == "undefined" || !grecaptcha) {
                loadJSScript("https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit");
            }
            var onloadCallback = function () {
                grecaptcha.render('g-recaptcha', {
                    'sitekey': '{{ site_key }}'
                });
            };
        </script>
        <div id="g-recaptcha" data-sitekey="{{ site_key }}"></div>
    {% endspaceless %}
{% endblock %}